@font-face {
  font-family: 'UntitledSans';
  src:  local('UntitledSans'), url(fonts/UntitledSansWeb-Regular.woff2) format('woff2'),
        local('UntitledSans'), url(fonts/UntitledSansWeb-Regular.woff) format('woff');
}
@font-face {
  font-family: 'UntitledSans-Medium';
  src:  local('UntitledSans-Medium'), url(fonts/UntitledSansWeb-Medium.woff2) format('woff2'),
        local('UntitledSans-Medium'), url(fonts/UntitledSansWeb-Medium.woff) format('woff');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
button {
  margin: 0;
  padding: 0;
}
nav,
main,
section,
article,
aside,
header,
footer,
div,
details,
summary,
form,
fieldset,
textarea,
select,
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"],
input[type="submit"],
pre,
code,
a,
button,
nav:before,
main:before,
section:before,
article:before,
aside:before,
header:before,
footer:before,
div:before,
details:before,
summary:before,
form:before,
fieldset:before,
textarea:before,
pre:before,
code:before,
a:before,
button:before,
nav:after,
main:after,
section:after,
article:after,
aside:after,
header:after,
footer:after,
div:after,
details:after,
summary:after,
form:after,
fieldset:after,
textarea:after,
pre:after,
code:after,
a:after,
button:after {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  line-height: 1;
  font-family: 'UntitledSans', apple-system, BlinkMacSystemFont, 'Helvetica Neue', arial, sans-serif;
  color: hsl(200, 30%, 10%);
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
small,
strong,
input,
button,
select,
textarea {
  font-size: inherit;
  font-weight: normal;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
